[Unit]
Description=Gunicorn server for SITENANE

[Service]
Restart=on-failure
User=lyd
WorkingDirectory=/home/lyd/sites/SITENANE/source
ExecStart=/home/lyd/sites/SITENANE/virtualenv/bin/gunicorn --bind unix:/tmp/SITENANE.socket notes.wsgi:application

[Install]
MantedBy=multi-user.target